<!-- ======= About Section ======= -->
<section id="about" class="about-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="box-shadow-full">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-sm-6 col-md-5">
                                    <div class="about-img">
                                        <img src="images/profil.jpg" class="img-fluid rounded b-shadow-a" alt="">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-7">
                                    <div class="about-info">
                                        <p><span class="title-s" data-tr="ab.name">Name: </span> <span>Mihaela Raducu</span></p>
                                        <p><span class="title-s" data-tr="ab.prof">Profile: </span> <span>Full-Stack JavaScript Developer</span></p>
                                        <p><span class="title-s">Email: </span> <span>raducu_mihaelaa@yahoo.com</span></p>
                                        <p><span class="title-s" data-tr="ab.phone">Phone: </span> <span>+40 730 071 784</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="skill-mf" id="skills">
                                <p class="title-s" data-tr="ab.skill">Skills</p>
                              
                                <span>HTML</span> <span class="pull-right" data-percent="85">0%</span>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width:85%;" aria-valuenow="85"
                                    aria-valuemin="0" aria-valuemax="100" id="progress-html"></div>
                                </div>
                              
                                <span>CSS</span> <span class="pull-right" data-percent="75">0%</span>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width:75%" aria-valuenow="75"
                                    aria-valuemin="0" aria-valuemax="100" id="progress-css"></div>
                                </div>
                              
                                <span>NODEJS</span> <span class="pull-right" data-percent="50">0%</span>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width:50%" aria-valuenow="50"
                                    aria-valuemin="0" aria-valuemax="100" id="progress-nodejs"></div>
                                </div>
                              
                                <span>JAVASCRIPT</span> <span class="pull-right" data-percent="90">0%</span>
                                <div class="progress">
                                  <div class="progress-bar" role="progressbar" style="width:90%" aria-valuenow="90"
                                    aria-valuemin="0" aria-valuemax="100" id="progress-javascript"></div>
                                </div>
                              </div>                              
                        </div>
                        <div class="col-md-6">
                            <div class="about-me pt-4 pt-md-0">
                                <div class="title-box-2">
                                    <h5 class="title-left" data-tr="ab.abt" >
                                        About me
                                    </h5>
                                </div>
                                <p class="lead" data-tr="ab.para1">
                                    With experience in the tech field, particularly in Smart City projects, I have contributed to the development and implementation of innovative solutions with a real impact.
                                </p>
                                <p class="lead" data-tr="ab.para2">
                                    Currently, I am expanding my skills in Web Development through an intensive Front-End JavaScript course, focused on HTML, CSS, JavaScript, Responsive Design, and modern frameworks. My goal is to build a solid portfolio and become part of a collaborative development team.
                                </p>
                                <p class="lead" data-tr="ab.para3">
                                    Bringing a structured approach and strong attention to detail from previous roles, I combine these with the creativity and adaptability of web development. In the long term, I aim to grow into a skilled Full-Stack JavaScript Developer and contribute to meaningful, forward-thinking projects.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End About Section -->