<!-- ======= Hero Section ======= -->
<div id="hero" class="hero route bg-image" style="background-image: url(images/banner3.png)">
    <div class="overlay-itro"></div>
    <div id="particles-js"></div>

    <div class="hero-content display-table">
        <div class="table-cell">
            <div class="container">
                <p class="display-6 color-d" data-tr="banner.hello">Hello!</p>
                <h1 class="hero-title mb-4" data-tr="banner.mihaela">I am Mihaela</h1>
                <p class="hero-subtitle"><span class="typed" data-attr-tr="typed"
                        data-typed-items="Frontend, Developer"></span></p>
                <ul class="list-inline list-social">
                    <li>
                        <a href="#" class="social-icon social-icon-facebook" target="_blank">
                            <i class="bi bi-facebook"></i>
                            <i class="bi bi-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social-icon social-icon-twitter" target="_blank">
                            <i class="bi bi-twitter-x"></i>
                            <i class="bi bi-twitter-x"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social-icon social-icon-linkedin" target="_blank">
                            <i class="bi bi-linkedin"></i>
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social-icon social-icon-youtube" target="_blank">
                            <i class="bi bi-youtube"></i>
                            <i class="bi bi-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="social-icon social-icon-github" target="_blank">
                            <i class="bi bi-github"></i>
                            <i class="bi bi-github"></i>
                        </a>
                    </li>

                </ul>
                <p class="pt-3 intro-content">
                    <a id="more-about-me-btn" class="button stroke smoothscroll" href="#about" title="">
                        <span data-tr="banner.more">More About Me</span> <i class="bi bi-arrow-bar-down"></i>
                    </a>
                </p>
                  
            </div>
        </div>
    </div>
</div><!-- End Hero Section -->