<!-- ======= Contact Section ======= -->
<section id="contact" class="paralax-mf footer-paralax bg-image sect-mt4 route"
    style="background-image: url(images/overlay-bg.png)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="title-box-2">
                                    <h5 class="title-left"  data-tr="ct.message">
                                        Send Me a Message
                                    </h5>
                                </div>
                                <div>
                                    <form action="https://formspree.io/forms/xkgjozor" method="post" role="form"
                                        class="requires-validation php-email-form requires-validation" novalidate>
                                        <div class="row">
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="text" name="name" class="form-control" id="name"
                                                        data-attr-tr="ct.place.name" placeholder="Name" required>
                                                    <div class="valid-feedback">The name field is valid!</div>
                                                    <div class="invalid-feedback">Please complete the name field correctly!
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="email" class="form-control" name="email" id="email" data-attr-tr="ct.place.email"
                                                        placeholder="Your Email" required>
                                                    <div class="valid-feedback">The email field is valid!</div>
                                                    <div class="invalid-feedback">Please complete the email field correctly!
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mb-3">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" name="subject" id="subject" data-attr-tr="ct.place.subject"
                                                        placeholder="Subject" required>
                                                    <div class="valid-feedback">The subject field is valid!</div>
                                                    <div class="invalid-feedback">Please complete the subject field correctly!
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="message" rows="5"
                                                        data-attr-tr="ct.place.message" placeholder="Message"
                                                        required></textarea>
                                                    <div class="valid-feedback">The message field is valid!</div>
                                                    <div class="invalid-feedback">Please complete the message field correctly!
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 text-center my-3">
                                                <div class="loading">Loading</div>
                                                <div class="error-message"></div>
                                                <div class="sent-message">Your message has been sent. Thank you!</div>
                                            </div>
                                            <div class="col-md-12 text-center">
                                                <button type="submit" class="button button-a button-big" data-tr="ct.send">Send
                                                    Message</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="title-box-2 pt-4 pt-md-0">
                                    <h5 class="title-left" data-tr="ct.title">
                                        Would you like to collaborate?
                                    </h5>
                                </div>
                                <div class="more-info">
                                    <p class="lead" data-tr="ct.inf">
                                        Whether you need help with a frontend project, 
                                        are building a web development team, 
                                        or want to implement modern tech solutions, 
                                        I am open to collaboration opportunities!
                                        <br>
                                        Feel free to fill out the form or send me an email.
                                        <br>
                                        I look forward to discussing potential collaborations and contributing together to impactful projects.
                                    </p>
                                    <ul class="list-ico">
                                        <li><span class="bi bi-geo-alt"></span> Bucharest, Sector 6</li>
                                        <li><span class="bi bi-github"></span> mihaelaraducu</li>
                                        <li><span class="bi bi-envelope"></span> raducu_mihaelaa@yahoo.com</li>
                                    </ul>
                                </div>
                                <div class="socials">
                                    <ul class="list-inline list-social">
                                        <li>
                                            <a href="#" class="social-icon social-icon-facebook" target="_blank">
                                                <i class="bi bi-facebook"></i>
                                                <i class="bi bi-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="social-icon social-icon-twitter" target="_blank">
                                                <i class="bi bi-twitter-x"></i>
                                                <i class="bi bi-twitter-x"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="social-icon social-icon-linkedin" target="_blank">
                                                <i class="bi bi-linkedin"></i>
                                                <i class="bi bi-linkedin"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="social-icon social-icon-youtube" target="_blank">
                                                <i class="bi bi-youtube"></i>
                                                <i class="bi bi-youtube"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#" class="social-icon social-icon-github" target="_blank">
                                                <i class="bi bi-github"></i>
                                                <i class="bi bi-github"></i>
                                            </a>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->