<!-- ======= GitHubAPI Section ======= -->
<section id="blog" class="services-mf pt-5 pb-2 route grey-section" aria-labelledby="github-title">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a" data-tr="git.repo">
                        My GitHub Repo
                    </h3>
                    <p class="subtitle-a" data-tr="git.hub">
                        The latest GitHub Repo
                    </p>
                    <div class="line-mf" aria-live="polite"></div>
                </div>
            </div>
        </div>
        <div id="dataview" class="row"></div>
    </div>

</section><!-- End GitHubAPI Section -->