<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Mihaela Raducu - Frontend Developer | CV. Explore my portfolio, experience, and GitHub repositories.">
    <meta name="author" content="Mihaela Raducu">
    <meta name="keywords" content="Frontend Developer, CV, Portfolio, GitHub, Mihaela Raducu">
    <link rel="canonical" href="https://mihaelaraducu.github.io/">
    <title data-tr="title">Mihaela Raducu - Frontend Developer | CV</title>
</head>

<body>
    <noscript>
        <p data-tr="git.noscript">Your browser does not support JavaScript or it is disabled. Please enable JavaScript to view the latest GitHub repositories.</p>
    </noscript>
    <%= htmlWebpackPlugin.options.myHeader %>
        <%= htmlWebpackPlugin.options.myBanner %>
            <main id="main" role="main">
                <%= htmlWebpackPlugin.options.myAbout %>
                <%= htmlWebpackPlugin.options.myExperience %>
                <%= htmlWebpackPlugin.options.myPortfolio %>
                <%= htmlWebpackPlugin.options.myGithubapi %>
                <%= htmlWebpackPlugin.options.myContact %>

            </main>

            <%= htmlWebpackPlugin.options.myFooter %>

</body>

</html>