@use "general" as *; // Importă toate variabilele fără prefix
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about-mf {
    .box-shadow-full {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
    .about-img {
      margin-bottom: 2rem;
      img {
        margin-left: 10px;
      }
    }
  }
  @media (min-width: 767px) {
    .about-mf {
      .box-pl2 {
        margin-top: 3rem;
        padding-left: 0rem;
      }
    }
  }
  .skill-mf {
    .progress-bar {
      height: 0.7rem;
      background: $background-color_2;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      animation-fill-mode: both;
      animation-play-state: paused; // Pause animation by default
    }
  
    #progress-html {
      animation-name: progress-html;
      animation-delay: $animation-delay;
    }
  
    #progress-css {
      animation-name: progress-css;
      animation-delay: $animation-delay * 2;
    }
  
    #progress-javascript {
      animation-name: progress-javascript;
      animation-delay: $animation-delay * 4;
    }
  
    #progress-nodejs {
      animation-name: progress-nodejs;
      animation-delay: $animation-delay * 3;
    }
  }
  
  @keyframes progress-html {
    0% {
      width: 0%;
    }
    100% {
      width: 85%;
    }
  }
  
  @keyframes progress-css {
    0% {
      width: 0%;
    }
    100% {
      width: 75%;
    }
  }
  
  @keyframes progress-javascript {
    0% {
      width: 0%;
    }
    100% {
      width: 90%;
    }
  }
  
  @keyframes progress-nodejs {
    0% {
      width: 0%;
    }
    100% {
      width: 50%;
    }
  }