@use "general" as *; // Importă toate variabilele fără prefix
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  text-align: center;
  color: var(--color_5);
  padding: 25px 0;
  background: #000000eb;
  .copyright {
    margin-bottom: 0.3rem;
  }
  .credits {
    margin-bottom: 0;
    a {
      color: var(--color_5);
    }
  }
}
