@use "general" as *; // Importă toate variabilele fără prefix
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.service-box {
  background-color:  var(--git-service-box);
  padding: 0 1.3rem 2.5rem 1.3rem ; // păstrăm padding-ul general
  border-radius: 0;
  margin-bottom: 3rem;
  text-align: center;

  .service-ico {
    margin: 0 -1.3rem 1rem; // eliminăm padding doar în lateral față de container
    color: var(--color_2);
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      aspect-ratio: 960 / 600;
      object-fit: contain;
      display: block;
      transition: all 1s ease;
    }
  }

  &:hover {
    .service-ico img {
      transform: scale(1.3);
    }

    .ico-circle {
      transition: all 500ms ease;
      color: var(--color_1);
      background-color: var(--button-bg);
      box-shadow: 0 0 0 10px #cde1f8;
    }
  }

  .ico-circle {
    transition: all 500ms ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    i {
      line-height: 0;
      font-size: 40px;
    }
  }

  .s-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.4rem 0;
  }

  .s-description {
    color: var(--vueColor);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; // number of lines to show
    line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}
